@import 'config';
@import 'variables';

header{
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
h3{
    color: $primary-color;
    text-align: center;
    font-size: 30px;
    
}
.para{
    text-align: center;
        font-size: 18px;
        color: white;
        font-weight: bold;
}

.container-s{
    min-height: 100vh;
    min-width: 100%;
    background-color: black;
    
    .para{
        text-align: center;
        font-size: 18px;
        color: white;
    }
}

section{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    aspect-ratio: 4/2;
}
.flex1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 5px;
}
.flex2 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 5px;
}
.d1{
    color: goldenrod;
    text-align: center;
    font-size: 30px;
    margin-top: 35px;
    
}
.container1{
    width: 100%;
    
    place-content: center;
    display: flex;
}
.border_box{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}
// .col{
//     width: 100%;
//         aspect-ratio: 4/2;
// }
.one{
   width: 900px;
   height: 500px;
}
.container2 {
    margin-inline: auto;
}
.two{
    width: 500px;
    height: 250px;
}

body{
    overflow-x: hidden;
}
.container_3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container_a{
    background-color: black;
    background-image: url(../img/processor2.webp);
}
.container_b{
    background-color: black;
}
.flex2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 50px;
   
    justify-content: space-around;
    margin-top: 10px;
}

h4{
  color: white;
}
.p1{
    font-size: 30px;
}
.para3{
    width:1000px; 
    margin-inline: auto;
    color: black;
}
.container ol>li{
    color: black;
    margin-bottom: 5px;
    

}
// .container_d{
//     background-color: black;
// }
hr{
    color: white;
    height: 20px;
}
.container_p{
    background-color: black;
}
.container_q{
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.item1 li{
    list-style-type: none;
    padding-left: 5px;
    a{
        text-decoration: none;
        color: white;
        
        &:hover{
            color: blue;
        }
    }
}
.item2 li{
    list-style-type: none;
        padding-left: 5px;
    
        a {
            text-decoration: none;
            color: white;
            &:hover {
                    color: blue;
                }
        }
}
.item3 li{
    list-style-type: none;
        padding-left: 5px;
    
        a {
            text-decoration: none;
            color: white;
            &:hover {
                    color: blue;
                }
    
        }
}
.item4{
    list-style-type: none;
        padding-left: 5px;
    
        a {
            text-decoration: none;
            color: white;
            &:hover {
                    color: blue;
                }
    
        }
}
li {
    padding-left: 5px;
    a {
        text-decoration: none;
        color: white;
    }
}
@media only screen and (max-width: 599px) {
.row {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
.one{
    width: 600px;
    height:400px;
} 
.p1{
    font-size: 20px;
}   
.para3{
    width: inherit;
    font-size: 12px;
    overflow-wrap: break-word;
    
}
.container_f {
    overflow-wrap: break-word;
}

}
.container_p{
    .item3{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 780px){
    .one {
            width: 600px;
            height: 400px;
        }
    .p1 {
        font-size: 25px;
    }
        .para3 {
            width: inherit;
            font-size: 16px;
            overflow-wrap: break-word;
    
        }
        .container_p {
            .item3 {
                    margin-left: 2px;
                    margin-right: 4px;
            }
        }
}

